* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0px;

  

  
}

.logo {
  width: 5rem;
  padding-right: 10px;
  align-content: center;
  padding-left: 10px
}

.header {
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5), 0 0 42px #00d9ff94, 0 0 82px #00d9ff94,0 0 92px #00d9ff94;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
  
  height: 10rem;
  background-image: url("./Images/sea2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: auto;

}



.p2div {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
  color: rgb(130, 130, 130);
  border-style: solid;
  height: 1000px;
  width : 70%;
  float : left;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
}

.main-div {

height : 1000px;

background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./Images/sea2.jpg");
background-size: cover;
background-repeat: no-repeat;
image-rendering: auto;


}

.main-h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  text-align: center;
  color: rgb(255, 255, 255);
  
  background-color: rgba(0, 0, 0, 0.3);

  margin-top: 0px;
  margin-right: 35% ;
  margin-left: 35%;
  
  padding-top: 10PX;
  padding-bottom: 10px;
}
.txt-1 {
text-align: center;
padding: 10px;
margin-left : 20px ;
margin-right: 20px;
background-color: rgba(0, 0, 0, 0.3);
color: rgb(255, 255, 255);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.beaches-main {
  height : 1000px;

background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./Images/sea2.jpg");
background-size: cover;
background-repeat: no-repeat;
image-rendering: auto;
opacity: 1;

}
.strandhill {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  text-align: center;
  color: rgb(255, 255, 255, 1);
  
  background-color: rgba(0, 0, 0, 0.3);

  margin-top: 0px;
  margin-right: 35% ;
  margin-left: 35%;
  
  padding-top: 10PX;
  padding-bottom: 10px;
}

.strandhill-info {
  text-align: center;
padding: 10px;
margin-left : 20px ;
margin-right: 20px;
background-color: rgba(0, 0, 0, 0.3);
color: rgb(255, 255, 255);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.widget-strandhill {
  padding-left: 200px;
  padding-top: 30px;
  opacity: 100% !important;

}

.right {

padding : 20px;
height: 1000px;
width : 30%;
float : right;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgba(180, 180, 180, 0.432);
}


/* Add a black background color to the top navigation */
.topnav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333;
  overflow: hidden;
  margin: 0px;
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
   
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0);
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #00d9ff;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
