* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;




}

.logo {
  width: 5rem;
  padding-right: 10px;
  align-content: center;
  padding-left: 10px
}

.header {
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5), 0 0 42px #00d9ff94, 0 0 82px #00d9ff94, 0 0 92px #00d9ff94;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: rgb(255, 255, 255);

  height: 10rem;
  background-image: url("./Images/sea2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: auto;

}



.p2div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  color: rgb(0, 0, 0, 0.8);

  height: 100%;
  width: 100%;
  float: left;

}

.main-div {

  height: 1000px;

  background-image: linear-gradient(rgba(0, 217, 255, 0.58), rgba(98, 2, 253, 0.5));
  background-size: cover;
  background-repeat: no-repeat;

  /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./Images/sea2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: auto; */


}

.main-h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  text-align: center;
  color: rgb(255, 255, 255);

  background-color: rgba(0, 0, 0, 0.3);

  margin-top: 0px;
  margin-right: 35%;
  margin-left: 35%;

  padding-top: 10PX;
  padding-bottom: 10px;
}

.txt-1 {
  text-align: center;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.youtube-vid {
  padding-top: 10px;
  display: block;
  margin: 0 auto;
  
}


.form {
  text-align: center;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.beaches-main {
  height: 3000px;

  background-image: linear-gradient(rgba(0, 217, 255, 0.58), rgba(98, 2, 253, 0.5));
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: auto;

  opacity: 1;

}

.strandhill {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  text-align: center;
  color: rgb(255, 255, 255, 1);

  background-color: rgba(0, 0, 0, 0.3);

  margin-top: 0px;
  margin-right: 35%;
  margin-left: 35%;

  padding-top: 10PX;
  padding-bottom: 10px;


}

.strandhill-heading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  text-align: center;
  color: rgb(255, 255, 255, 1);

  background-color: rgba(0, 0, 0, 0.3);

  font-size: 20px;

  margin-top: 20px;
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 5px;

  padding-top: 10PX;
  padding-bottom: 10px;

}

.strandhill-info {
  text-align: center;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.widget-strandhill {

  padding-left: 30%;
  padding-right: 30%;
  padding-top: 20px;
  padding-bottom: 50px;
  opacity: 100% !important;

  align-self: center;

  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

}

.map-main {
  text-align: center;
  padding-top: 20px;
  
  opacity: 100% !important;

}

.form-div {
  
  height: 100vh;

  background-image: linear-gradient(rgba(0, 217, 255, 0.58), rgba(98, 2, 253, 0.5));
  background-size: cover;
  background-repeat: no-repeat;

  /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./Images/sea2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: auto; */

  width: 100%;
}




.right {

  padding: 10px;
  height: 100VH;
  width: 20%;
  float: right;
  background-image: linear-gradient(rgba(0, 255, 255, 0.58), rgba(2, 253, 77, 0.5));
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-left: 3px solid #333 ;

  text-align: left;
  color: rgb(100, 100, 100);
  font-size: 20px;

}

.loc {
  text-align: center;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-main {
  position: fixed;
  left: 0;
  bottom: 0;
  
  width:100%;
  background-color: #00d9ff;
  color: white;
  text-align: center;
}

.topnav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333;
  overflow: hidden;
  margin: 0px;

}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}


.topnav a:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0);
}


.topnav a.active {
  background-color: #00d9ff;
  color: white;
}


.topnav .icon {
  display: none;
}



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
